:local .result {
    height: 92%;
    background: #202020;
}

:local .item {
    padding: 15px 15px 0 15px;
}

:local .item:last-child {
    padding-bottom: 15px;
}

:local .iwrap {
    flex-basis: 170px;
    height: 100px;
}

:local .text {
    margin-left: 15px;
    flex: 1;
}

:local .title {
    font-size: 14px;
    line-height: 16px;
}