:local .result {
    height: 92%;
    background: #3a3a3a;
}

:local .count {
    font-size: 12px;
    color: #a6a6a6;
    line-height: 50px;
}

:local .item {
    padding: 15px 15px 0 15px;
}

:local .item:first-child {
    padding-top: 0;
}

:local .item:last-child {
    padding-bottom: 15px;
}

:local .iwrap {
    flex-basis: 170px;
    height: 100px;
}

:local .text {
    margin-left: 15px;
    flex: 1;
}

:local .desc {
    font-size: 12px;
    margin-top: 15px;
}

:local .title {
    font-size: 14px;
    line-height: 16px;
}