:local .btn {
    flex: 1;
}

:local .border {
    border-bottom: 3px solid #010101;
}

:local .active {
    color: #fff;
    border-color: #fff;
}

:local .icon {
    width: 2em;
}

:local .menu {
    padding-left: 1em;
}

:local .search {
    padding-right: 1em;
}