:local .more {
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

:local .show {
    visibility: visible;
    opacity: 1;
    transition: all .1s linear;
}

:local .hidden {
    visibility: hidden;
    opacity: 0;
    transition: all .1s linear .05s;
}

:local .btn-show {
    transform: scale(1);
    transition: all .1s cubic-bezier(1, 2.23, 1, .84) .1s;
}

:local .btn-hidden {
    transform: scale(0);
    transition: all .1s linear;
}

:local .icon {
    width: 30px;
}

:local .text {
    margin-left: 30px;
    color: #707070;
    font-size: 12px;
}

:local .active {
    background-color: #26262b;
    border-left: 5px solid #fff;
}