:local .history {
    background: #202020;
}

:local .item {
    border-bottom: 1px solid #2e2e2e;
    padding: 15px 20px;
}

:local .text {
    font-size: 12px;
    line-height: 14px;
}

:local .wrap {
    padding: 20px 0;
}

:local .btn {
    color: #a3a3a3;
    font-size: 12px;
    background: #303030;
    border-radius: 20px;
    padding: 10px 30px;
}