* {
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei", sans-serif;
    font-size: 16px;
}

html, body, #root {
    height: 100%;
}

.w100 {
    width: 100%;
}

.h100 {
    height: 100%;
}

.df {
    display: flex;
}

.aic {
    align-items: center;
}

.jcc {
    justify-content: center;
}

.jcfe {
    justify-content: flex-end;
}

.cfff {
    color: #fff;
}

.c808080 {
    color: #808080;
}

.fww {
    flex-wrap: wrap;
}

.oh {
    overflow: hidden;
}

.pa {
    position: absolute;
}

.pr {
    position: relative;
}

.tac {
    text-align: center;
}

.brnr {
    background-repeat: no-repeat;
}

.bsc {
    background-size: cover;
}

.wbba {
    word-break: break-all;
}

.mask {
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .4);
}

.fdc {
    flex-direction: column;
}

.spinner {
    width: 40px;
    height: 40px;
    background-color: #fff;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }
    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    }
    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

.rotate {
    animation: loading 2s infinite linear;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.Body-swiper {
    height: 92%;
}

