:local .bar {
    height: 8%;
}

:local .sbtn, :local .cbtn {
    font-size: 12px;
    color: #a3a3a3;
}

:local .sbtn {
    padding: 0 5px 0 10px;
}

:local .cbtn {
    padding: 0 10px 0 5px;
}

:local .sicon {
    width: 1.2em;
}

:local .cicon {
    width: 0.8em;
}

:local .container {
    flex: 1;
    border: 1px solid #2e2e2e;
    border-radius: 2px;
    padding: 5px 10px;
    margin-Left: 10px;
}

:local .input {
    flex: 1;
    border: none;
    background: none;
    outline: none;
    margin-Left: 10px;
    font-size: 12px;
}